* {
	transition: 100ms all;
}

body {
	background: #1e1e1e;
}
.container {
	color: #fff;
	background: #3c3c3c;
	max-width: 50%;
	padding: 3vh 3vw;
	margin: 2vw;
	border-radius: 20px;
}

.container h1 {
	font-size: 20px;
	font-weight: bold;
}

.container .texto {
	border: none;
	margin: 2px;
}

.container #corpo {
	display: flex;
}